.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

[class^="col-"],
[class*=" col-"],
.col {
    padding-right: 15px;
    padding-left: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

.col-offset-12 {
    margin-left: 100%;
}

@media ( min-width: 576px ) {
    .container {
        max-width: 540px;
    }

    .col-1-sm {
        width: 8.33%;
    }

    .col-2-sm {
        width: 16.66%;
    }

    .col-3-sm {
        width: 25%;
    }

    .col-4-sm {
        width: 33.33%;
    }

    .col-5-sm {
        width: 41.66%;
    }

    .col-6-sm {
        width: 50%;
    }

    .col-7-sm {
        width: 58.33%;
    }

    .col-8-sm {
        width: 66.66%;
    }

    .col-9-sm {
        width: 75%;
    }

    .col-10-sm {
        width: 83.33%;
    }

    .col-11-sm {
        width: 91.66%;
    }

    .col-12-sm {
        width: 100%;
    }

    .col-offset-1-sm {
        margin-left: 8.33%;
    }

    .col-offset-2-sm {
        margin-left: 16.66%;
    }

    .col-offset-3-sm {
        margin-left: 25%;
    }

    .col-offset-4-sm {
        margin-left: 33.33%;
    }

    .col-offset-5-sm {
        margin-left: 41.66%;
    }

    .col-offset-6-sm {
        margin-left: 50%;
    }

    .col-offset-7-sm {
        margin-left: 58.33%;
    }

    .col-offset-8-sm {
        margin-left: 66.66%;
    }

    .col-offset-9-sm {
        margin-left: 75%;
    }

    .col-offset-10-sm {
        margin-left: 83.33%;
    }

    .col-offset-11-sm {
        margin-left: 91.66%;
    }

    .col-offset-12-sm {
        margin-left: 100%;
    }
}

@media ( min-width: 768px ) {
    .container {
        max-width: 710px;
    }

    .col-1-md {
        width: 8.33%;
    }

    .col-2-md {
        width: 16.66%;
    }

    .col-3-md {
        width: 25%;
    }

    .col-4-md {
        width: 33.33%;
    }

    .col-5-md {
        width: 41.66%;
    }

    .col-6-md {
        width: 50%;
    }

    .col-7-md {
        width: 58.33%;
    }

    .col-8-md {
        width: 66.66%;
    }

    .col-9-md {
        width: 75%;
    }

    .col-10-md {
        width: 83.33%;
    }

    .col-11-md {
        width: 91.66%;
    }

    .col-12-md {
        width: 100%;
    }

    .col-offset-1-md {
        margin-left: 8.33%;
    }

    .col-offset-2-md {
        margin-left: 16.66%;
    }

    .col-offset-3-md {
        margin-left: 25%;
    }

    .col-offset-4-md {
        margin-left: 33.33%;
    }

    .col-offset-5-md {
        margin-left: 41.66%;
    }

    .col-offset-6-md {
        margin-left: 50%;
    }

    .col-offset-7-md {
        margin-left: 58.33%;
    }

    .col-offset-8-md {
        margin-left: 66.66%;
    }

    .col-offset-9-md {
        margin-left: 75%;
    }

    .col-offset-10-md {
        margin-left: 83.33%;
    }

    .col-offset-11-md {
        margin-left: 91.66%;
    }

    .col-offset-12-md {
        margin-left: 100%;
    }
}

@media ( min-width: 992px ) {
    .container {
        max-width: 960px;
    }

    .col-1-lg {
        width: 8.33%;
    }

    .col-2-lg {
        width: 16.66%;
    }

    .col-3-lg {
        width: 25%;
    }

    .col-4-lg {
        width: 33.33%;
    }

    .col-5-lg {
        width: 41.66%;
    }

    .col-6-lg {
        width: 50%;
    }

    .col-7-lg {
        width: 58.33%;
    }

    .col-8-lg {
        width: 66.66%;
    }

    .col-9-lg {
        width: 75%;
    }

    .col-10-lg {
        width: 83.33%;
    }

    .col-11-lg {
        width: 91.66%;
    }

    .col-12-lg {
        width: 100%;
    }

    .col-offset-1-lg {
        margin-left: 8.33%;
    }

    .col-offset-2-lg {
        margin-left: 16.66%;
    }

    .col-offset-3-lg {
        margin-left: 25%;
    }

    .col-offset-4-lg {
        margin-left: 33.33%;
    }

    .col-offset-5-lg {
        margin-left: 41.66%;
    }

    .col-offset-6-lg {
        margin-left: 50%;
    }

    .col-offset-7-lg {
        margin-left: 58.33%;
    }

    .col-offset-8-lg {
        margin-left: 66.66%;
    }

    .col-offset-9-lg {
        margin-left: 75%;
    }

    .col-offset-10-lg {
        margin-left: 83.33%;
    }

    .col-offset-11-lg {
        margin-left: 91.66%;
    }

    .col-offset-12-lg {
        margin-left: 100%;
    }
}

@media ( min-width: 1200px ) {
    .container {
        max-width: 1140px;
    }

    .col-1-xl {
        width: 8.33%;
    }

    .col-2-xl {
        width: 16.66%;
    }

    .col-3-xl {
        width: 25%;
    }

    .col-4-xl {
        width: 33.33%;
    }

    .col-5-xl {
        width: 41.66%;
    }

    .col-6-xl {
        width: 50%;
    }

    .col-7-xl {
        width: 58.33%;
    }

    .col-8-xl {
        width: 66.66%;
    }

    .col-9-xl {
        width: 75%;
    }

    .col-10-xl {
        width: 83.33%;
    }

    .col-11-xl {
        width: 91.66%;
    }

    .col-12-xl {
        width: 100%;
    }

    .col-offset-1-xl {
        margin-left: 8.33%;
    }

    .col-offset-2-xl {
        margin-left: 16.66%;
    }

    .col-offset-3-xl {
        margin-left: 25%;
    }

    .col-offset-4-xl {
        margin-left: 33.33%;
    }

    .col-offset-5-xl {
        margin-left: 41.66%;
    }

    .col-offset-6-xl {
        margin-left: 50%;
    }

    .col-offset-7-xl {
        margin-left: 58.33%;
    }

    .col-offset-8-xl {
        margin-left: 66.66%;
    }

    .col-offset-9-xl {
        margin-left: 75%;
    }

    .col-offset-10-xl {
        margin-left: 83.33%;
    }

    .col-offset-11-xl {
        margin-left: 91.66%;
    }

    .col-offset-12-xl {
        margin-left: 100%;
    }
}
