.hero__wrapper {
	height: 100vh;
	display: flex;
	align-items: center;

	@media ( max-height: 650px ) {
		padding-top: 400px;
		padding-bottom: 250px;
	}
}

.hero {
	position: relative;
	background-image: url(../images/content/bg1.jpg);
	background-size: cover;
	background-position: center;

	&::after {
		content: '';
		background-color: rgba( 0, 0, 0, 0.5 );
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.hero__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;

	* {
		z-index: 1;
	}

	.button {
		align-self: baseline;
	}
}

.hero__image {
	display: none;

	@media ( min-width: 992px ) {
		display: block;
		background-size: cover;
		background-position: center;
		z-index: 1;
		height: 50vh;
		width: 905px;
		position: absolute;
		top: 28%;
		right: -450px;
	}

	@media ( min-width: 1200px ) {
		right: -400px;
	}

	@media ( min-width: 1400px ) {
		right: -300px;
	}

	@media ( min-width: 1600px ) {
		right: -200px;
	}

	@media ( min-width: 1800px ) {
		right: -100px;
	}
}
