.icon-wrapper {
	height: 100px;
	width: 100px;
	background-color: $gray;
	border-radius: 15px;
	border: 4px solid #fff;
	box-shadow: $box-shadow;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;

	svg {
		height: 50px;
		width: 50px;
		fill: $orange-dark;
	}
}

.icon-wrapper--sm {
	height: 60px;
	width: 60px;
	margin-right: 30px;
	margin-left: 0;

	svg {
		height: 30px;
		width: 30px;
		fill: $orange-dark;
	}
}

.icon-wrapper--orange {
	border: 0;
	background-color: $orange-dark;
	box-shadow: $box-shadow-orange;

	svg {
		fill: #fff;
	}
}
