.image-galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	margin-top: 50px;

	@media ( min-width: 992px ) {
		margin-top: 0;
	}
}

.image-galery__item {
	width: calc( 33.33% - 4px );
	background-position: center;
	background-size: cover;
	aspect-ratio: 1 / 1;
	margin-top: 2px;
	margin-bottom: 2px;
	cursor: pointer;

	@media ( min-width: 450px ) {
		width: calc( 25% - 4px );
	}
}
