.section {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	@media ( min-width: 992px ) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.section--text-align-left {
	text-align: left;
}

.section--pt-md {
	padding-top: 150px;

	@media ( min-width: 992px ) {
		padding-top: 120px;
	}
}

.section--pt-pb-lg {
	padding-top: 50px;
	padding-bottom: 50px;

	@media ( min-width: 992px ) {
		padding-top: 150px;
		padding-bottom: 150px;
	}
}

.section--pt-pb-sm {
	padding-top: 130px;
	padding-bottom: 0;
}

.section--pb-lg {
	padding-bottom: 100px;

	@media ( min-width: 992px ) {
		padding-bottom: 140px;
	}
}

.section__image {
	display: none;

	@media ( min-width: 992px ) {
		display: block;
	}
}

.section__image--dog-on-bed {
	background-size: cover;
	background-position: 50% 70%;
	height: 100%;
	width: 45%;
	position: absolute;
	top: 0;
	left: 0;
}
