.site-header {
	background-color: #fff;
	box-shadow: 0px 15px 10px -15px rgba( 17, 17, 17, 0.164 );
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}

.site-header--sticky {
	transition: .3s;
	background-color: #fff;
	box-shadow: 0px 15px 10px -15px rgba( 17, 17, 17, 0.164 );
	opacity: 0;
	z-index: 0;
	position: fixed;
}

.site-header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

.site-logo a {
	font-size: 40px;
	position: relative;

	&:hover::after {
		background-color: $orange;
	}

	&::after {
		content: '';
		transition: .3s;
		position: absolute;
		bottom: 7px;
		right: -8px;
		height: 6px;
		width: 6px;
		border-radius: 99px;
		background-color: $blue;
	}
}

.site-logo--sm a {
	font-size: 30px;

	&::after {
		bottom: 4px;
	}
}

.site-header__navigation {
	display: none;
	align-items: center;

	@media ( min-width: 992px ) {
		display: flex;
	}
}

.site-navigation__item {
	font-size: 20px;
	/* position: relative;
	top: 4px; */

	a {
		transition: .3s;
		border-bottom: 2px solid transparent;
		padding-bottom: 3px;

		&:hover {
			border-color: $orange;
		}
	}

	& + .site-navigation__item {
		margin-left: 30px;
	}
}

.site-navigation__item--filled {
	a {
		background-color: $blue;
		border: 0;
		color: #fff;
		transition: .3s;
		border-radius: 8px;
		padding-top: 14px;
		padding-right: 30px;
		padding-bottom: 14px;
		padding-left: 30px;

		&:hover {
			background-color: #30356d;
		}
	}
}

.site-header__navigation--mobile {
	background: #fff;
	height: 100vh;
	width: 100%;
	display: none;
	position: absolute;
	top: 85px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.site-header-navigation__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-navigation__item--mobile {
	/* position: static; */
	
	& + .site-navigation__item--mobile {
		margin-top: 5px;
		margin-left: 0;
	}

	&:last-child {
		margin-top: 10px;
	}
}

/* .site-navigation__item--buttons {
	margin-top: 15px;

	a {
		border-bottom: 0;
		padding-bottom: 14px;
	}
} */

.site-header__menu {
	@media ( min-width: 992px ) {
		display: none;
	}
}

.site-header__menu-icon {
	height: 45px;
}

.navigation-section-link {
	position: relative;
	height: 10px;
	width: 10px;
	top: -100px;

	@media ( min-width: 992px ) {
		top: -120px;
	}
}
