.tooltip {
	position: absolute;
	top: 0;
	right: 0;
}

.tooltip__text {
	visibility: hidden;
	position: absolute;
	font-size: 16px;
	background-color: #000;
	color: #fff;
	width: 200px;
	top: -5px;
  	right: 40px;
	bottom: auto;
	left: auto;
	text-align: center;
	border-radius: 6px;
	z-index: 1;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
  	margin-left: 0;

	@media ( min-width: 850px ) {
		top: -5px;
 		left: 0;
		bottom: auto;
		margin-left: 0;
	}

	.text--underline {
		font-size: 16px;
	}
}

.tooltip:hover {
	.tooltip__text {
		visibility: visible;
	}
}

.tooltip-text-visibility {
	visibility: visible;
}